/* ============================================================
  Stuff from Alex Cican
============================================================ */

* {
    margin: 0;
    padding: 0;
}
img,embed,object,video {
    max-width: 100%;
    border: none;
}
body {
    font-family: "Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    line-height: 1.4em;
    background: #fff;
    color: #333;
}

::selection {
background: #c80909;
color: #fff;
}
a,a:visited,img,input,a:visited:hover {
-moz-transition: color .3s,opacity .3s,background .3s;
-webkit-transition: color .3s,opacity .3s,background .3s;
-o-transition: color .3s,opacity .3s,background .3s;
transition: color .3s,opacity .3s,background .3s;
color: #c80909;
display: inline-block;
text-decoration: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:active {
color: #222;
}
a:visited {
color: #cc6666;
}
a:hover {
color: #666;
}
#content a:hover {
text-decoration: underline;
}
a.img img,.sponsor a:hover img {
-moz-opacity: .9;
-webkit-opacity: .9;
filter: alpha(opacity=90);
opacity: .9;
}
a.img {
text-decoration: none;
}
.current {
cursor: default;
color: #999!important;
}
.hidden,.icon span {
display: none;
opacity: 0;
}
#content {
position: relative;
margin: 0 auto;
width: 95%;
max-width: 640px;
padding-top: 1%;
-webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-o-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
-webkit-backface-visibility: hidden;
}
h1 {
font-size: 4em;
letter-spacing: -.06em;
line-height: 1.1;
position: relative;
}
h2,h3 {
font-size: 1.2em;
line-height: 1.35em;
}
p,ul,ol,#footnotes {
padding-bottom: 1.55em;
}
p>img {
margin-top: .35em;
}
ul li {
margin-left: 1em;
padding-left: .4em;
}
ol li {
margin-left: 1.5em;
padding-left: .2em;
}
sup {
line-height: 1;
}
code {
font-family: Inconsolata,Consolas,"Courier New",Courier,monospace;
font-size: .85em;
line-height: 1.6em;
white-space: -webkit-pre-wrap;
white-space: -moz-pre-wrap!important;
white-space: -o-pre-wrap;
white-space: pre-wrap;
word-wrap: break-word;
}
pre>code {
font-size: .65em;
line-height: 1em;
}
blockquote,pre {
display: block;
background: #fcfcfc;
border: solid 1px #f7f7f7;
border-left: solid 7px #f5f5f5;
padding: .48em 1em;
margin: .4em 0 1.8em;
}
blockquote p {
padding: 0;
font-style: italic;
}
figcaption {
margin: -1.6em 0 0;
font-style: italic;
color: #666;
font-size: .875em
}
strong,b {
font-weight: 500;
}

/* ============================================================
  Stuff from Till
============================================================ */

h1 {
  text-align: center;
} 

#content {
    max-width: 790px;
}
#content {
    position: relative;
    margin: 0 auto;
    width: 95%;
  }

/* ============================================================
  Paralax Stuff
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../img/demo/_small/1.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/demo/_small/2.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/demo/_small/3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
